.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;
    padding: 2.5em;
    margin: 1em auto -4em;

    background-color: white;
    border: 1px solid #f8f9fb;
    border-radius: 1em;
}

.container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    z-index: -1;

    width: 90%;
    height: 95%;
    margin: auto;
    
    background: #fafafa;
    border-radius: 1em;
    box-shadow: 0 15px 100px rgb(58 46 68 / 6%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imageLink {
    position: relative;
}

.imageLink img {
    box-shadow: 0 7px 35px rgb(58 46 68 / 10%);
    border-radius: 50%;
}

.imageLink::after {
    position: absolute;
    content: '';
    left: -5px;
    top: -5px;
    width: 58px;
    height: 58px;

    border: 1px solid gainsboro;
    border-radius: 50%;
}

.nameLink {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.nameLink h3 {
    margin: 1em 0 0;
}

.profileStatus {
    margin: 0.5em 0 1.5em;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75em;
    font-weight: 300;
    color: black;
}

.accWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
    border-top: 1px solid #e7edf2;
}

.accWrapper li {
    padding: 0.5em;
}

.accLink {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75em;
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.accLink p {
    margin: 0;
}

.accLink span {
    font-weight: bold;
    font-size: 1em;
}