.wrapper {
    position: relative;
    display: flex;
    height: calc(100vh - 82px);
}

.mainWrapper {
    flex-grow: 1;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 300px;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.usersList {
    display: flex;
    z-index: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navList {
    align-self: center;
    display: flex;
    margin: 0 0 4em 0;
    padding: 0;

    list-style-type: none;
}

.navItem {
    margin: 0.25em;
}

.navItem  button {
    width: 2.5em;
    height: 2.5em;

    color: white;

    border: none;
    border-radius: 2em;
    background: linear-gradient(to right, #1874cd, #1e90ff);
    cursor: pointer;

    outline: none;
}

.navItem  button[disabled] {
    opacity: 0.5;

    cursor: default;
}

.nonActiveButton {
    cursor: default;
}

.preloaderWrapper {
    align-self: center;
    margin-bottom: 10%;
    margin-left: 37%;
}