.wrapper {
    position: relative;
    display: flex;
}

.mainWrapper {
    flex-grow: 1;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usersList {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60vw;
}

.navList {
    display: flex;
    margin: 0 0 4em 0;
    padding: 0;
    list-style-type: none;
}

.navItem {
    margin: 0.25em;
}

.navItem  button {
    width: 2.5em;
    height: 2.5em;

    color: white;

    border: none;
    border-radius: 2em;
    background: linear-gradient(to right, #1874cd, #1e90ff);
    cursor: pointer;

    outline: none;
}

.navItem  button[disabled] {
    opacity: 0.5;

    cursor: default;
}

.nonActiveButton {
    cursor: default;
}

.preloaderWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-240%, -115%);
}


@media (min-width: 741px) and (max-width: 1366px) {
    .mainContent {
        width: 100vw;
    }

    .usersList {
        width: 98vw;
    }

    .navList {
        margin: 0.5em;
    }
}

@media screen and (max-width: 740px) {
    .mainContent {
        width: 100vw;
    }

    .usersList {
        width: 98vw;
    }

    .usersList {
        height: 80vh;
        overflow: auto;
    }

    .navList {
        margin: 0.25em 0;
        height: 50px;
    }
}