.userItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 330px;
    width: 33%;
    margin: 1em;
    padding: 1em;

    background-color: white;
    border-radius: 40px;
}

.userItem::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    z-index: -1;

    width: 90%;
    height: 95%;
    margin: auto;

    background: #fafafa;
    border-radius: 1em;
    box-shadow: 0 15px 100px rgba(58, 46, 68, 0.06);
}

.userItem:hover.userItem::before {
    background: linear-gradient(to right, #1874cd, #1e90ff);
}

.userPhoto {
    border: 2px solid #1874cd;
    border-radius: 50px;
}

.userDescriptionWrapper {
    width: 250px;
}

.userLink {
    color: black;
    text-decoration: none;
}

.userName {
    margin: 0 0 0 1em;
    font-size: 1em;
}

.button {
    align-self: center;
    height: 3em;
    width: 8em;

    color: white;

    border: none;
    border-radius: 2em;
    background: linear-gradient(to right, #1874cd, #1e90ff);
    cursor: pointer;

    outline: none;
}

.button[disabled] {
    opacity: 0.5;

    cursor: default;
}

@media screen and (max-width: 1366px) {
    .userItem {
        min-width: 300px;
    }
}