.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    width: 22vw;
    max-width: 400px;
    height: 100vh;

    border-right: 1px solid #e7edf2;
}

@media (min-width: 481px) and (max-width: 768px){
    .wrapper {
        position: fixed;
        width: 40vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.4s;
    }
    .wrapper.active {
        transform: translateX(0);
    }
}

@media screen and (max-width: 480px){
    .wrapper {
        position: fixed;
        width: 80vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.4s;
    }
    .wrapper.active {
        transform: translateX(0);
    }
}
