.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(50vh - 70px);
    transform: translateY(-50%);
    width: 78vw;
    height: 100%;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100vw;
    }
}