@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.app-wrapper {
  display: flex;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: #f7f7f7;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}