@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.app-wrapper {
  display: flex;
  position: relative;

  overflow: hidden;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 80px);

  background-color: #f7f7f7;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

@media (min-width: 481px) and (max-width: 768px) {
  .contentWrapper {
    transform: translateX(0);
    transition: all 0.4s;
  }
  .contentWrapper.menuActive {
    transform: translateX(40vw);
    transition: all 0.4s;
  }
}

@media screen and (max-width: 480px) {
  .contentWrapper {
    transform: translateX(0);
    transition: all 0.4s;
  }
  .contentWrapper.menuActive {
    transform: translateX(80vw);
    transition: all 0.4s;
  }
}